<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Webshop - sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div id="app">
      <grid-wrapper></grid-wrapper>
      <div v-if="overlay" @click="closeModal" class="overlay"></div>
      <modal></modal>
      <cart></cart>
    </div>
    <script src="/js/bundled.js"></script>
    <script src="/js/bundled.js.map"></script>
  </body>
</html>
